<!doctype html>
<html lang="en">

<head>
    <link rel="stylesheet"
          href="/css/main.css" type="text/css">
    <link rel="stylesheet" href="main.css" type="text/css">
    <script src="/js/site.js"></script>
    <script type="text/javascript" src="main.js"></script>
    <title>Ol Sample</title>
</head>

<body>
    <div class="menu">
        <ul>
            <li><a onclick="AddPoint()" href="#">Add Point</a></li>
            <li><a href="#">Query Point</a></li>
        </ul>
    </div>
    <div id="map" class="map"></div>
    <script>
        document.addEventListener("DOMContentLoaded", () => {

            InitializeMap();

            AddInteraction();
        });
    </script>

</body>

</html>